body {
	background: #E5E5E5;
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
}

.logo-topo {
	margin: 40px 0 0 84px;
	height: 3em;
	width: auto;
}

.main {
	height: 100%;
	width: 100%;
}

.telaInicial {
	left: 0;
	right: 0;
	margin: 27vh auto 0;
	text-align: center;
	width: 25%;
	height: 25%;
}

.botaoTelaInicial {
	margin: 0;
	border-radius: 1em;
	padding: 1em;
	width: 85%;
	height: 5em;
}

#adicionarNovaPalavra {
	margin-top: 1em;
}

.telaNovaPalavra{
	display: none;
}

.telaJogo {
	display: none;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto 10px;
	padding-top: 10px;
	font-size: 0.5em;
	color: gray;
	text-align: center;
}